body{
    margin: 50px;
}
.form-style{
    margin: 15px;
}
#grid{
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 10em;
}
.home-btn{
    height: 2.5em;
    text-align: center;
}
.manage-link{
    margin: 0px 20px 0px 0px;
    background: none;
    border: none;
    text-decoration: underline;
    color: dodgerblue;
}
#actions{
    display: flex;
}
.divider{
    margin: 0px 20px 0px 0px;
}
#update-form{
    margin: 50px, 50px;
    background-color: rgb(244, 244, 244);
    padding: 50px;
    width: 100%;
}