<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <title>Users CR</title>
</head>
<body>
    <h1>User</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Last Updated</th>
            </tr>
        </thead>
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.updated_at}}</td>
            </tr>
    </table>
    <a href="/" class="manage-link">Back</a>
    <a href="/update/{{user.id}}" class="manage-link">Update</a>
    <a href="/delete/{{user.id}}" class="manage-link">Delete</a>
</body>
</html>